
body {
	background-color: #f3f3f3;
	margin-top: 0px;
}



.tcenter p {font:bold 12px Verdana,sans-serif; color:#333;}
.tcenter input,textarea {font:normal 12px Verdana,sans-serif; color:#333; border:1px solid #ccc;}

.inputtext {width:200px;
background-image: url(images/gray_bg.png);
background-repeat: repeat-x;
background-position: top; 
padding:5px;
}
.comarea{width:400px; background-image: url(images/gray_bg.png);
background-repeat: repeat-x;
background-position: top; 
padding:5px;}

input.formbutton{
border:2px #ccc solid;
width:150px;color:#fff;
font:11px Verdana, Geneva, sans-serif;background-color:#52C8F6;
font-weight:700;
text-transform:uppercase;
height:25px;}

.comareaact {width:400px;  background-image: none; padding:5px;}

.inputtextact {width:200px; background-image: none; padding:5px;}


